<div class="container-fluid" data-spy="affix"  data-offset-top="100">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
      <div class="col-sm-5" ><a class="navbar-brand" href="/"><img class="img-thumbnail" src="../assets/castImg.png" width="304" height="236"></a></div>
      <div class="col-sm-7" style="color:white"><h2>Tech Scan</h2></div>
    </div>
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>
</div>
